header{
    text-align: center;
}

#wrap {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.list-009 {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1em;
    border: 2px solid #2589d0;
}

.list-009 li {
    padding: .5em;
}

.list-009 li:not(:last-child) {
    border-bottom: 1px dashed #2589d0;
}

.list-009 li::marker {
    color: #2589d0;
    font-size: 1.1em;
}